.popup__error {
  /* display: block;
  width: 358px;
  margin: 5px auto 13px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: red; */
}
