.popup__input {
    display: block;
    width: 358px;
    height: 27px;
    margin: 30px auto;
    box-sizing: border-box;
    border-width: 0 0 1px;
    /* padding: 12px 0px 12px 12px;  */ 
    padding: 0px 0px 12px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #000000;
}

@media screen and (max-width: 640px) {
    .popup__input {
        width: 238px;
        margin-top: 30px;
    }
}