.elements {
    display: grid;
    width: 100%;
    margin: 51px auto 0;
    grid-template-columns: repeat(3, 282px);
    grid-row-gap: 20px;
    justify-content: space-between;
    justify-items: center;    
}

@media screen and (max-width: 880px) {
    .elements{
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 640px) {
    .elements{
        width: 100%;
        grid-template-columns: 1fr;
    }
}