.profile__person-description {
  max-width: 300px;
  margin: 7px 0 0 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 678px) {
  .profile__person-description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
