.close-icon {
    position: absolute;
    top: -40px;
    right: -40px;
}

.close-icon:hover {
    opacity: 0.6;
}

@media screen and (max-width: 640px) {
    .close-icon {
        width: 20px;
        top: -36px;
        right: 0px;
    }
}