.profile__person {
  max-width: 300px;
  margin: 0;
  display: inline;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 678px) {
  .profile__person {
    display: block;
    max-width: 208px;
    margin: 0 auto;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}
